{% extends 'base.html' %}
   
{% block content %}
    <h1>記録の詳細</h1>

    <p><strong>日付：</strong>{{ record.record_date }}</p>
    <p><strong>肌の調子：</strong>{{ record.get_skin_rating_display }}</p>
    <p><strong>肌の状態メモ：</strong>{{ record.skin_condition }}</p>
    <h4>🌞 朝に使ったアイテム（使用順）</h4>
<ol>
  {% for item in morning_list %}
    <li>{{ item }}</li>
  {% endfor %}
</ol>

    <h4>🌙 夜に使ったアイテム（使用順）</h4>
<ol>
  {% for item in night_list %}
    <li>{{ item }}</li>
  {% endfor %}
</ol>
    <h4>肌悩み：</h4>
<p>{{ record.concerns }}</p>
    <h4>成分：</h4>
<p>{{ record.ingredients }}</p>

    {% if record.photo %}
        <p><strong>写真：</strong><br>
        <img src="{{ record.photo.url }}" alt="肌の写真" width="200"></p>
    {% endif %}
    <p>
        <a href="{% url 'record_edit' record.pk %}" class="btn btn-primary">編集</a>
      </p>

    <p><a href="{% url 'record_list' %}">← 一覧に戻る</a></p>
{% endblock %}
